.video-preview {
  width: 100%;
  vertical-align: top;
}

.thumbnail-square {
  position: relative;
  display: block;
}
.thumbnail {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.timestamp {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 5px 5px 5px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
}

.content-below {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 10px;
}

.profile-box {
  vertical-align: top;
  margin: 0px 0px 0px 10px;
}
.box-kanan {
  margin: 0px 0px 0px 10px;
}

.profile-pic {
  width: 100%;
  border-radius: 50%;
}

.video-title-txt {
  font-size: 17px;
  font-weight: 450;
}

.video-auth {
  font-size: 15px;
  color: rgb(81, 81, 81);
  margin: 5px 0px 0px 0px;
}

.video-stat {
  font-size: 15px;
  color: rgb(81, 81, 81);
  margin: 4px 0px 0px 0px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
  column-gap: 20px;
  row-gap: 40px;
}

@media (max-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}
